# Virtual environment
.venv/
venv/

# Byte-code files
*.pyc
__pycache__/

# Instance folder (for Flask's instance configuration)
instance/

# Test-related files
.pytest_cache/
.coverage
htmlcov/

# Build artifacts
dist/
build/
*.egg-info/

# Editor-specific files (e.g., VS Code)
.vscode/

# Environment variables (if used)
.env